*{
    padding: 0;
margin: 0;}
#navbaar{
    width: 100%;
    height: 9vh;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaec;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 0;

}
.navdiv{
    height: 100%;


}
#navdiv1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12%;
}
#navdiv2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 40%;
}
.navopt{
    font-size: 90%;
    font-weight: 900;
}
#NEWOPT{
    position: relative;
    color: rgb(240, 55, 117);
    font-size: 0.7em;
    bottom:9%;
    right: 4%;
    font-weight: 600;
}
#navdiv3{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    width: 32%;
}
#navfoam{
    width: 100%;
    height: 55%;
    border: none;
    background-color: #f5f0f7;
    border-radius: 2%;
    font-size: 90%;
    font-weight: 100;
padding-left: 10%;
}
#glass{
  font-size:80%;
  color: gray;
  position: relative;
  right: 93%;
  top: 1%;
}
#navdiv4{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-evenly;
}
